*{
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  color: #990000;
}

body{
  background-image: url("../img/background.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: fixed;
}

/*navigation bar*/

.navbar{
  margin-top: 5px;
}
div nav .navigation{
  float: right;
  display: inline-block;
}
div nav .navigation li{
  display: inline-block;
  list-style: none;
  font-size: 25px;
  margin-top: 18px;
}
.name{
  list-style: none;
  margin-left: 20px;
  font-size: 35px;
  margin-top: 10px;
}
div nav ul li a{
  color: #990000;
}
div nav ul li a:hover{
  text-decoration: none;
  color: #ccc;
}

/*footer*/

.email, .phone, .linkedin{
  text-align: center;
  margin-top: 5px;
}
.footer{
  background-color: #222;
  border: 1px solid #222;
  border-radius: 5px;
  margin-top: 2%;
}
footer div div p a{
  color: #990000;
}
/*Home pafe*/
.glance{
  background-color: #ccc;
  border: 1px soild #ccc;
  border-radius: 5px;
  margin-top: 15%;
}


/*about page*/
.Skills, .Experience, .Story{
  background-color: #ccc;
  border: 1px soild ##ccc;
  border-radius: 5px;
  margin-bottom: 8%;
}

.aboutheadings{
  font-size: 70px;
}

.expierencelist{
  list-style: none;
}

.expierencelist > .text{
  font-size: 30px;
}

.expierencelist > .subtext{
  font-size: 20px;
  margin-bottom: 30px;
}

/*Contact page*/
.contactme{
  background-color: #ccc;
  border: 1px soild #ccc;
  border-radius: 5px;
  margin-bottom: 40px;
}
.contactname, .contactemail{
  margin-bottom: 20px;
}
.contactmessage{
  margin-bottom: 18.5%;
}

/*portolio page*/
.portfolioimg{
  width: 50%;
  height: 50%;
}
